.card-container {
  display: flex;
  align-items: center;
}

.mat-card {
  margin: 0 auto;
  display: inline-block;
  max-width: 400px;
}

.mat-card-image {
  margin: 0 -16px 16px -16px;
  height: 200px;
  display: block;
  overflow: hidden;
  object-fit: cover;
}
