<button mat-raised-button (click)="goBack()">Go back</button>
<div class="card-container">
  <mat-card *ngIf="item">
    <mat-card-header>
      <mat-card-title> {{ item.name }} </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item.photos[0].url" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <mat-list>
        <mat-list-item>Id: {{ item.id }}</mat-list-item>
        <mat-list-item>Code: {{ item.code }}</mat-list-item>
        <mat-list-item> Supplier: {{ item.supplier.id }}</mat-list-item>
        <mat-list-item
          >Modified:
          {{ moment(item.lastModified).format("DD-MM-YYYY") }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
