.filter-container {
  margin: 0 -15px;

  .mat-form-field {
    margin: 0 15px;
  }
}

table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
