<h2>Items</h2>

<div class="items-container">
  <form [formGroup]="form" class="filter-container">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput formControlName="text" placeholder="Type name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select availability</mat-label>
      <mat-select formControlName="availability">
        <mat-option>None</mat-option>
        <mat-option [value]="true">Available</mat-option>
        <mat-option [value]="false">Unavailable</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="this.form.reset()">Reset</button>
  </form>

  <table *ngIf="items" mat-table [dataSource]="items" class="mat-elevation-z2">
    <!-- Available Column -->
    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef>Availability.</th>
      <td mat-cell *matCellDef="let item">
        <mat-icon [color]="item.currentlyAvailable ? 'primary' : 'accent'">
          {{ item.currentlyAvailable ? "event_available" : "event_busy" }}
        </mat-icon>
      </td>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id.</th>
        <td mat-cell *matCellDef="let item">
          {{ item.id }}
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name.</th>
        <td mat-cell *matCellDef="let item">
          ({{ item.code }}) {{ item.name }}
        </td>
      </ng-container>
    </ng-container>
    <!-- Last modified Column -->
    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef>Last modified.</th>
      <td mat-cell *matCellDef="let item">
        {{ moment(item.lastModified).format("DD-MM-YYYY") }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      routerLink="detail/{{ row.id }}"
      routerLinkActive="router-link-active"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
