<div class="root">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Warm up!</span>
    <span class="example-spacer"></span>
    <button
      *ngIf="!user"
      mat-button
      aria-label="Login button"
      (click)="this.login()"
    >
      Login
    </button>
    <button
      *ngIf="user"
      mat-button
      aria-label="Login button"
      (click)="this.logout()"
    >
      logout
    </button>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
        <a mat-list-item routerLink="/items">Items</a>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <div class="app-container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
