.drawer-container {
  background: #fafafa;
  color: #000;
}

.app-container {
  margin: 15px 0;
  padding: 15px 30px;
  min-height: calc(100vh - 64px);
  max-width: 800px;
  margin: 0 auto;
}

.example-spacer {
  flex: 1 1 auto;
}
